@charset "utf-8";

:root {
  --darkgreen: #307c4f;
  --limegreen: #90c31e;
  --btncolor: #03561e;
  --bannerbgcolor: #eff8e3;
  --bg-color: #f5f5f5;
}

body {
  font-family: "Noto Sans JP";
}

.container {
  max-width: 1700px;
  padding: 30px 10px;
}

.aboutmyanmarcontainertwo,
.aboutmmcontainer {
  max-width: 1400px;
  margin: 0 auto;
}

.aboutmyanmarcontainertwo {
  padding: 1px 10px;
}

.aboutmmcontainerfluid {
  width: 100%;
  background-color: #fff;
}

.aboutmmparagraph {
  line-height: 1.9;
}

ul.breadcrumb {
  padding: 10px 5px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "\003E";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
}

.myanmarmapcontainer {
  max-width: 300px;
  height: 320px;

  background: url("../img/myanmar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin: 0 auto;
  padding: 20px 0px;

  margin-bottom: 49px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.myanmartextcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}

.myanmartextheader {
  font-size: 32px;
}

.myanmartext p {
  margin: 0;
}

.myanmarinformationbox {
  margin-top: 111px;
}

.infogridbox {
  margin-top: 60px;
  margin-bottom: 90px;
}

.inforows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 5px 0px;
}

.info_left {
  width: 100%;
  max-width: 300px;
  height: 100px;

  background: var(--btncolor);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 22px;
  font-weight: 800;

  font-family: "Noto Sans JP";

  border-radius: 10px;
}

.info_right {
  width: 100%;
  max-width: 1095px;
  height: 100px;

  background: var(--bg-color);

  display: flex;
  justify-content: start;
  align-items: center;

  border-radius: 10px;
  color: black;
  font-family: "Noto Sans JP";

  padding-left: 60px;
  font-size: 22px;
}

.aboutschooltext {
  margin-top: 60px;
  margin-bottom: 30px;
  line-height: 1.9;
}

.aboutschoolheader li {
  color: black;
  font-weight: 400;
  font-size: 22px;
}

.aboutschoolheader li::before {
  content: "■"; /* Square character */
  color: var(--limegreen); /* Custom square color */
  font-size: 20px; /* Size of the square */
  padding-right: 0px; /* Space between the square and text */
  border-radius: 5px;
}

@media screen and (max-width: 926px) {
  .container {
    padding: 0px 10px;
  }

  .aboutmyanmarcontainertwo {
    padding: 1px 10px;
  }
}

@media screen and (max-width: 768px) {
  .info_left {
    max-width: 60px;
    height: 80px;
    font-size: 14px;
  }

  .info_right {
    height: 80px;
    font-size: 14px;
    padding-left: 5px;
  }

  .aboutmmfirstheader {
    font-weight: 400;
  }

  .aboutschoolheader li {
    font-size: 16px;
    font-weight: 700;
  }

  .aboutschooltext {
    text-align: justify;
  }

  .aboutmmparagraph {
    text-align: justify;
  }
}
