@charset "utf-8";

:root {
  --darkgreen: #307c4f;
  --limegreen: #90c31e;
  --btncolor: #03561e;
  --bannerbgcolor: #eff8e3;
  --bg-color: #f5f5f5;
}

body {
  font-family: "Noto Sans JP";
}

.navbarcontainerfluid {
  background-color: white;
}

.noticecontainerfluid {
  width: 100%;
  background-color: white;
}

.noticecontainer {
  max-width: 1400px;
  padding: 0px 10px;
  margin: 0 auto;
  /* background-color: blue; */
}

ul.breadcrumb {
  padding: 10px 5px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "\003E";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  
}

.maincontainer {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: 60px;
}

.contentrow {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 50px;
  margin: 15px 0px;
}

.contentpbox {
  width: 100px;
  height: 26px;
  background: var(--btncolor);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contentspan {
  padding: 5px;
}

.contentlink {
  color: var(--btncolor);
}

.contentlinkbox {
  width: 100px;
  height: 26px;
  background: #f5f5f5;
  color: black;
  border-radius: 5px;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryrow {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contentheader {
  margin-bottom: 30px;
  margin-top: 0px;
  line-height: 1.3;
}

.wpmaincontentbox img {
  width: 100%;

  height: 100%;
  margin-top: 30px;
  margin: 0 auto;
}

.wpmaincontentbox div {
  display: block;
  background-color: #f5f5f5;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 10px;
  margin-top: 30px;
}

.wpmaincontentbox strong {
  margin-bottom: 18px;
  margin-left: 15px;
  font-size: 22px;
  display: block;
}

.wpmaincontentbox ol li {
  margin: 18px 0px;
  color: var(--btncolor);
}

.wpmaincontentbox p {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 1.8;
}

.wpmaincontentbox h2 {
  background-color: var(--bannerbgcolor);
  font-size: 22px;
  padding: 14px 20px;
  margin: 0;
  font-weight: 400;
  border-left: 10px solid var(--btncolor);
  font-family: "Noto Sans JP";
  line-height: 1.8;
}

.wpmaincontentbox span {
  color: var(--btncolor);
  font-weight: 700;
}

.wpmaincontentbox h3 {
  font-size: 22px;
  font-weight: 400;
  color: var(--btncolor);
  font-family: "Noto Sans JP";
  line-height: 1.5;
}

.tablebox {
  margin-bottom: 60px;
}

.tableheaderrow {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  place-items: center;
  gap: 3px;

  color: white;
  /* margin: 10px 0px; */
}

.tablechildrow {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  place-items: center;
  gap: 3px;
  color: black;
}

.tableheader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  font-size: 20px;
  background: var(--btncolor);
  border: 1px solid gray;
}

.tablechild {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  border: 1px solid gray;
  font-size: 16px;
}

.hrline {
  width: 100%;
  height: 3px;
  background: var(--bannerbgcolor);
  margin-bottom: 30px;
}

.carouselcontrolbox {
  display: flex;
  justify-content: space-between;
}

.carouseliconbox {
  width: 40px;
  height: 40px;

  background: var(--btncolor);
  border-radius: 50%;

  position: relative;
}

.carouseliconbox::before {
  content: "";

  width: 15px;
  height: 15px;

  background: url("../icons/rigth.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carouseliconbox.right::before {
  content: "";
  width: 15px;
  height: 15px;
  background: url("../icons/left2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.carouseliconbox.left {
  margin-right: 20px;
}

.carousel_left p,
.carousel_right p {
  font-size: 14px;
}

.carouseliconbox.right {
  margin-left: 20px;
}

.sidebarcontainer {
  display: grid;
  grid-template-columns: 1fr; /* Single column by default */
  grid-template-areas:
    "img-container"
    "search-box"
    "category-list"
    "tags";
  height: max-content;
}

.img-container {
  grid-area: img-container;
}

.img-container img {
  width: 100%;
}

.search-box {
  width: 100%;
  display: block;
  grid-area: search-box;
  margin-top: 60px;
}

.form-group {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 5px;
  border-radius: 5px;
}

.submitbtn {
  width: 40px;
  height: 40px;
  background-color: var(--bannerbgcolor);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border: none;
}

.searchform {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 40px;
  place-items: center;
}

.searchinput {
  width: 100%;
  padding: 5px;
  padding-left: 20px;
  outline: none;
  border: none;
}

.category-list {
  grid-area: category-list;
}

.tags {
  grid-area: tags;
}

.categoryheader,
.tagsheader {
  color: var(--btncolor);
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 12px;
}

.greenlines,
.tagsgreenlines {
  width: 100%;
  height: 5px;
  background: var(--btncolor);
}

.categoryrows {
  width: 100%;
  height: 24px;
  margin: 25px 0px;
  position: relative;

  cursor: pointer;
}

.categorylink {
  width: 100%;
  height: 100%;

  color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
  color: var(--btncolor);
}

.categorylink img {
  width: 11px;
  height: 16px;
}

/* .categoryrows::before {
  content: "";

  width: 24px;
  height: 24px;

  background: url("../icons/categoryleft.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;
  top: 0;
  right: 0;

  z-index: -1;
} */

.categoryrows p {
  font-family: "Noto Sans JP";
}

.tagsgreenlines {
  margin-bottom: 30px;
}

.tagbox {
  max-width: 100px;
  height: 26px;

  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Noto Sans JP";
}

.tagboxlink {
  width: 80px;
  height: 100%;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;

  padding: 5px 10px;
}

.tagsboxcontainer {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  ul.breadcrumb li {
    display: inline;
    font-size: 12px;
  }

  ul.breadcrumb li + li:before {
    padding: 2px;
    color: black;
    content: "\003E";
  }

  .maincontainer {
    grid-template-columns: 1fr;
  }

  .contentlinkbox {
    display: none;
  }

  .contentlinkbox.first {
    display: flex;
  }

  .maincontainer {
    margin-top: 30px;
  }

  .wpmaincontentbox h2 {
    font-size: 16px;
    padding: 14px 5px;
  }

  .wpmaincontentbox p {
    font-size: 14px;
  }

  .wpmaincontentbox h3 {
    font-size: 16px;
  }

  .wpmaincontentbox p {
    font-size: 14px;
  }

  .sidebarcontainer {
    grid-template-areas:
      "search-box"
      "category-list"
      "tags"
      "img-container";
  }

  .img-container {
    margin-top: 60px;
    padding: 0px 10px;
  }

  .tableheaderrow {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .tableheader {
    font-size: 14px;
  }

  .tablechildrow {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .tablechild {
    font-size: 12px;
  }

  .wpmaincontentbox ol li {
    margin: 30px 0px;
    font-size: 14px;
  }

  .wpmaincontentbox strong {
    font-size: 16px;
  }

  .tagbox {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .tagsboxcontainer {
    gap: 5px;
  }

  .tagboxlink {
    padding: 5px 8px;
  }
}
