@charset "utf-8";

:root {
  --darkgreen: #307c4f;
  --limegreen: #90c31e;
  --btncolor: #03561e;
  --bannerbgcolor: #eff8e3;
  --bg-color: #f5f5f5;
}

/* ===============================
Top Page
=============================== */
body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
}

ul li {
  list-style: none;
}

body.noscroll {
  overflow: hidden;
}

.text-limegreen {
  color: var(--limegreen);
}

.text-btncolor {
  color: var(--btncolor);
}

.text-justify {
  text-align: justify;
  line-height: 1.8;
}

.poppins {
  font-family: Poppins;
}

.notosanjp {
  font-family: "Noto Sans JP", sans-serif;
}

.leftcontainer h6 {
  margin: 0;
  margin: 20px 0px;
  /* padding: 0; */
}

.tsukumirounded {
  font-family: "Tsukimi Rounded", sans-serif;
}

.notoserif {
  font-family: "Noto Serif";
}

.notosan {
  font-family: "Noto Sans";
}

.lato {
  font-family: "Lato", sans-serif;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hiraginokaku {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.displaycenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-primary {
  color: var(--limegreen);
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: bold;
}
/* start navbar  */

.navbarcontainerfluid {
  width: 100%;

  background-color: var(--bannerbgcolor);
}

.bannercontainerfluid {
  width: 100%;
  background-color: var(--bannerbgcolor);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 20px;
}

.customnavbar {
  background: #ffffff;

  max-width: 1700px;

  height: 80px;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 20px #707070;
  padding: 0px 30px;
  border-radius: 10px;
  z-index: 100;

  box-shadow: 0px 3px 20px #707070;
}

.brandtext {
  color: black;
  line-height: 1.35;
  font-weight: 500;
}

.brand,
.brandlink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandlink img {
  width: 64px;
  height: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

.brandbtn {
  width: 160px;
  height: 40px;
  background: var(--darkgreen);

  border-radius: 10px;
  margin-left: 30px;
}

.nav-group li {
  list-style-type: none;
}

.nav-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: black;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.nav-link.brandbtn {
  color: white;
}

.nav-link.active {
  background: var(--btncolor);
  color: white;
}

.nav-group .nav-link:hover {
  background: rgba(3, 86, 30, 0.1);
}

.brandtext {
  font-size: 20px;
}

/* end navbar  */

.banner {
  width: 100%;

  height: auto;

  background: var(--bannerbgcolor);
}

.wrapper {
  width: 90%;
  max-width: 1200px;

  /* min-height: 700px; */

  margin: auto;
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  z-index: 0;
}

.headertext h3,
.headertext h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.bannerparagraph {
  line-height: 1.9;
}

.floatcontainer {
  max-width: 1400px;
  height: auto;
  min-height: 200px;
  border-radius: 40px;
  background: white;
  /* padding: 20px; */

  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);

  box-shadow: 6px 10px 10px #eee;

  position: relative;
  z-index: 0;

  display: grid;
  grid-template-columns: 240px 1fr 240px;
  place-items: center;
}

.floatbtncontainer {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.datelinktext {
  width: 80px;
  height: 20px;
  background: var(--btncolor);
  color: white;

  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 30px;
  border-radius: 5px;
}

.leftcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightcontainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.rightcontainer {
  border-right: 1px dashed #bebebe;
}

.dateandtext {
  display: flex;
  justify-content: space-between;
  color: black;
}

.floatbtncontainer {
  width: 100%;
}

.floatbtncontainer p a {
  color: black;
}

.datelink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.datelink a {
  color: var(--btncolor);
}

.floatlink {
  width: 40px;
  height: 40px;

  display: block;
  background: var(--btncolor);

  border-radius: 50%;
  margin-left: 20px;

  position: relative;
}

.floatlink::before {
  content: "";

  width: 8px;
  height: 8px;

  background: url("../icons/left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textcontainer {
  width: 40%;
  max-width: 520px;

  height: auto;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  position: relative;
}

.child {
  width: 110%;
  height: 100%;

  position: absolute;
  /* Allows overlapping */
  top: 0;
  left: 0;
  background: url(../img/bannermap.png);
  background-repeat: no-repeat;
  background-position: 110% 0%;

  background-size: 100%;
}

.textcontainer h2 {
  font-size: 40px;
}

.bannerphotocontainer {
  width: 60%;

  position: relative;
  /* background-color: yellow; */
}

.bannerphoto {
  position: absolute;
  bottom: -337px;
  left: -15px;
}

.bannerphoto img {
  width: 100%;
}

.bannerbtn {
  width: 100%;
  max-width: 240px;
  height: 60px;
  background: var(--limegreen);

  border-radius: 30px;
  margin-left: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.bannerbtn::before {
  content: "";

  width: 15px;
  height: 15px;

  position: absolute;
  top: 38%;
  right: 15px;

  background: url(../icons/left.png) center / contain no-repeat;
}

.childtextcontainer {
  max-width: 400px;
  height: auto;
  min-height: 157px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 40px;
}

.leftcontainerchild {
  flex-direction: column;
}

.leftcontainerchild h6 {
  flex-direction: column;
}

.leftcontainerchild h6 p {
  margin: 0;
  margin-top: 2px;
  color: var(--limegreen);
}

/* start about us  */

.aboutuscontainerfluid {
  width: 100%;
  background-color: white;
}

.aboutus {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;

  height: auto;

  padding: 80px 0px;
}

.aboutusheader {
  margin-top: 100px;
  font-size: 30px;
}

.aboutusengheader {
  color: var(--limegreen);
  font-size: 20px;
}

.aboutustextcontainer {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 60px;
}

.aboutusparagraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  text-align: justify;
}

.saycontainer {
  margin-top: 100px;
  flex-direction: column;
}

.chatbubble {
  width: 330px;
  height: 53px;
  border-radius: 30px;
  background: var(--limegreen);

  color: white;

  position: relative;

  margin-bottom: 40px;
  font-size: 18px;
  margin: 0 auto;
}

.chatbubble::before {
  content: "";

  width: 30px;
  height: 30px;

  position: absolute;

  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);

  background: url("../icons/polygon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutusphotocontainer {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 80px;
}

.aboutusbtn,
.aboutmyanmarbtn,
.accordionbtn {
  background: var(--btncolor);
  width: 320px;
  height: 60px;

  border-radius: 30px;

  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-top: 80px;

  font-family: "Noto Sans JP", sans-serif;

  position: relative;
}

.aboutusbtn::before,
.aboutmyanmarbtn::before,
.accordionbtn::before {
  content: "";

  width: 15px;
  height: 15px;

  position: absolute;
  top: 38%;
  right: 20px;

  background: url(../icons/left.png) center / contain no-repeat;
}

/* end about us  */

/* start about myanmar  */

.aboutmyanmarcontainerfluid {
  width: 100%;
  background-color: var(--bannerbgcolor);
}

.aboutmyanmar {
  width: 100%;
  background-color: var(--bannerbgcolor);
}

.aboutmyanmarcontainer {
  max-width: 1200px;
  height: auto;

  padding: 40px 0px;

  margin: 0 auto;
  background-color: var(--bannerbgcolor);
}

.myanmarcontainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 50px 0px;
}

.paragraphcontainer {
  text-align: start;
}

.myanmarparagraph {
  line-height: 1.9;
  font-size: 16px;
}

h2.aboutmyanmarengheader {
  color: var(--limegreen);
  margin: 0;
}

.aboutus_subheader {
  margin-top: 60px;
}

.myanmarcontainer {
  background: url("../img/myanmar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* end about myanmar */

/* start accordion  section */

.accordioncontainerfluid {
  width: 100%;
  background-color: #fff;
}

.accordioncontainer {
  width: 100%;
  max-width: 1200px;
  height: auto;

  padding: 20px 0px;
  margin: 150px auto;
}

.mainheader {
  margin-top: 160px;
  margin-bottom: 18px;
}

.subheader {
  margin-bottom: 60px;
}

.mainheader,
.subheader {
  margin: 0;
  font-weight: 0;
}

.subheader {
  color: var(--limegreen);
  margin-top: 20px;
  margin-bottom: 60px;
}

.text-primary {
  color: var(--text-color);
}

.accordion {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  margin-bottom: 30px;
}

.accordion-header {
  cursor: pointer;
}

.accordion-header,
.accordion-content {
  max-width: 1400px;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  display: grid;
  grid-template-columns: 80px 1fr;
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  transition: all 1s ease;
}

.accordion-content {
  width: 100%;
  max-width: 1400px;
  height: 0;
  display: grid;
  overflow: hidden;
  transition: all 1s ease;
}

::-webkit-scrollbar {
  display: none;
}

.headertext h3 {
  font-weight: 600;
}

.headertext {
  height: auto;
  min-height: 80px;
  padding-left: 30px;
  padding-right: 80px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500 !important;

  display: flex;
  justify-content: start;
  align-items: center;

  border-radius: 10px;

  background-color: var(--bg-color);
  position: relative;
}

.headertext::before {
  content: "";

  width: 40px;
  height: 40px;

  position: absolute;
  top: 20px;
  right: 30px;

  transform: translateX(-50%);

  background: url("../icons/+.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headertext.newicon::before {
  content: "";

  width: 40px;
  height: 40px;

  position: absolute;
  top: 20px;
  right: 30px;

  transform: translateX(-50%);

  background: url("../icons/-.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenttext {
  min-height: 80px;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;

  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  line-height: 1.7;

  display: flex;
  justify-content: start;
  align-items: center;

  border-radius: 10px;

  background-color: var(--bg-color);
}

.accordion-content.show {
  height: auto;
  margin-top: 5px;
  padding-top: 5px;
  transition: all 1s ease;
}

.iconbox {
  width: 80px;
  height: 80px;

  background-color: var(--limegreen);
  position: relative;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contenticonbox {
  width: 80px;
  height: 80px;

  background-color: var(--btncolor);
  position: relative;
  border-radius: 5px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.btncontainer {
  width: 400px;
  height: 80px;
  margin: 0 auto;
}

.btn {
  width: 400px;

  height: 80px;
  background-color: var(--btncolor);
  border-radius: 40px;
  display: block;
  font-size: 20px;

  text-align: center;
  line-height: 80px;
  color: white;
  margin-top: 30px;
  position: relative;
}

.btn::before {
  content: "";

  font-size: 15px;
  position: absolute;
  width: 10px;
  height: 14px;
  top: 50%;
  right: 20px;

  transform: translateY(-50%);

  background: url("../icons/left.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  width: 100%;
  height: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* end accordion section  */

/* start footer section  */

.pagetop {
  width: 60px;
  height: 60px;

  background: var(--btncolor);

  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 20px;
}

.floatbutton {
  width: 100%;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.floatbutton.pos {
  position: relative;
}

.floatbutton.pos .pagetop {
  position: absolute;

  right: 20px;
}

footer {
  width: 100%;
  background: var(--btncolor);
  color: #fff;
  padding: 70px 0px;
}

.copyrighttext {
  text-align: center;
}

/* end footer section  */

/* news page start */
.news-mv {
  padding-top: 30px;
  font-family: "Noto Sans JP";
}

.second-container {
  max-width: 1440px;
  /* padding: 0 20px; */
  margin: 0 auto;
}

.news-mv .second-container .heading-blk {
  background: url(../img/bannermap.png) no-repeat center/contain;
  padding-top: 12px;
  padding-bottom: 160px;
}

.page-name {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  gap: 30px;
}
.page-name span a {
  color: #000000;
  position: relative;
}
.page-name span a::before {
  content: "";
  background: url(../img/Component.png) no-repeat center/contain;
  width: 10px;
  height: 10px;
  position: absolute;
  display: block;
  left: -17px;
  top: 6px;
}

.news-mv .second-container .news-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: #000000;
  padding-top: 160px;
  padding-bottom: 17px;
  margin: 0;
}

.news-mv .second-container .mean {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "lato";
  color: #307c4f;
}

.sec-notice {
  width: 100%;
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 200px;
}

.notice-blk {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  /* max-width: 1000px; */
}

.sec-notice .left-blk {
  max-width: 1000px;
  border-bottom: 2px solid #eff8e3;
}

.sec-notice .left-banner {
  display: flex;
  flex-direction: column;
}

/* .sec-notice .left-banner .first{
  margin-top: 0;
} */

.sec-notice .date-blk {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 37px;
  margin-top: 30px;
}

.sec-notice .right-blk {
  max-width: 340px;
}

.date-blk .date {
  font-family: "lato";
  font-size: 16px;
  font-weight: 700;
  color: #307c4f;
}

.date-blk .notice {
  width: 100px;
  height: 20px;
  background: var(--btncolor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 30px; */
  border-radius: 5px;
  font-size: 14px;
  padding: 4px 0;
}

.sec-notice .notice-blk .txt {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 30px;
}

.pignation {
  display: flex;
  margin: 0 auto;
  padding-top: 60px;
  position: relative;
  cursor: pointer;
  align-items: center;
  gap: 40px;
}

.input-container {
  /* display: flex; */
  border-radius: 5px;
  position: relative;
  margin-top: 60px;
}

::placeholder {
  color: #757575;
  opacity: 1;
}

.search-input {
  /* background: #EEEEEE; */
  color: #212121;
  vertical-align: middle;
  font-size: 16px;
  line-height: 2;
  padding: 10px 20px;
  border: 0;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  box-shadow: inset 0 -1px 1px -1px #cccccc, inset 0 1px 1px -1px #cccccc,
    inset 1px 0 1px -1px #cccccc;
}

.search-submit {
  background: #eff8e3;
  color: #307c4f;
  vertical-align: middle;
  padding: 12px 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 1px;
  top: 2px;
}

.sp .input-container {
  margin-top: 0px;
  margin-bottom: 30px;
}

.search-submit i {
  font-size: 24px;
}

.category {
  width: 100%;
  padding: 60px 0;
}

.category .category-heading,
.tag .tag-heading {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  border-bottom: 5px solid #307c4f;
  padding-bottom: 12px;
}

.category .category-blk .category-name {
  font-size: 16px;
  font-weight: 600;
  color: #307c4f;
  position: relative;
  padding-top: 30px;
}

.category .category-blk .category-name::after {
  content: "";
  background: url("../img/right-arrow.png") no-repeat center/contain;
  width: 11px;
  height: 16px;
  position: absolute;
  right: 0;
}

.tag {
  padding-top: 51px;
  width: 100%;
}

.tag .tag-blk {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.tag .tag-blk .tag-name {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #f5f5f5;
  text-align: center;
  padding: 12px 0;
  border-radius: 5px;
}

.advertisment {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* About Page start */
.sec-about {
  padding-top: 120px;
  padding-bottom: 160px;
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans JP";
}
.sec-about .container .about-txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  color: #000000;
  text-align: center;
  margin-bottom: 90px;
}
.sec-about .container .chatbubble {
  font-size: 20px;
  margin-bottom: 40px;
}
.sec-about .container .hiraginokaku {
  font-family: "Noto Sans JP";
}
.sec-about .container .description {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
}
.sec-about .container img {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.sec-about .container .information {
  font-size: 32px;
  font-weight: 600;
  color: #03561e;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 10px;
}
.sec-about .container .information-jp {
  font-size: 20px;
  font-weight: 700;
  color: #90c31e;
  text-align: center;
  padding-bottom: 60px;
}
.information-blk {
  display: grid;
  gap: 5px;
  grid-template-columns: 300px 1fr;
  margin-bottom: 7px;
}
.information-blk .name {
  max-width: 300px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 100px;
  text-align: center;
  padding-right: 100px;
  background-color: #03561e;
  font-size: 22px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
}
.information-blk .name-description {
  /* width: calc((100% - 305px)); */
  padding: 35px 0 35px 65px;
  background-color: #f5f5f5;
  border-radius: 10px;
  font-size: 22px;
  color: #000000;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .floatcontainer {
    bottom: -150px;
  }

  .bannerphoto {
    bottom: -357px;
  }
}

@media screen and (max-width: 1100px) {
  .nav-link {
    font-size: 15px;
    padding: 10px;
  }

  .brandtext {
    font-size: 16px;
  }

  .brandlink img {
    width: 50px;
    height: 40px;
  }

  .brandbtn {
    width: 120px;
    height: 40px;
    margin-left: 20px;
    font-size: 15px;
  }

  .bannerbtn {
    margin: auto;
  }
}

@media screen and (max-width: 1024px) {
  .customnavbar {
    padding: 0px 8px;
    box-shadow: none;
    /* width: 100%; */
  }

  .nav-link {
    font-size: 14px;
    padding: 10px;
  }

  .floatcontainer {
    grid-template-columns: 140px 1fr 200px;
  }

  .brandtext {
    font-size: 16px;
  }

  .brandlink img {
    width: 50px;
    height: 40px;
  }

  .brandbtn {
    width: 120px;
    height: 40px;
    margin-left: 5px;
    font-size: 14px;
    border-radius: 6px;
  }

  .childtextcontainer h2 {
    font-size: 30px;
  }

  /* accordion section  */

  .mainheader {
    margin-top: 90px;
    margin-bottom: 18px;
  }

  .subheader {
    margin-bottom: 30px;
  }

  .accordion {
    margin-bottom: 15px;
  }

  .accordion-header,
  .accordion-content {
    grid-template-columns: 60px 1fr;
  }

  .accordion-content.show {
    margin-top: 0px;
    transition: all 1s ease;
  }

  .headertext::before,
  .headertext.newicon::before {
    width: 30px;
    height: 30px;
    top: 15px;
    right: 0px;
  }

  .headertext {
    min-height: 60px;
    padding-left: 15px;
    padding-right: 50px;
  }

  .contenttext {
    padding-left: 15px;
    padding-right: 15px;
  }

  .iconbox {
    width: 60px;
    height: 60px;
  }

  .contenticonbox {
    width: 60px;
  }

  .btncontainer,
  .btn {
    width: 300px;
    height: 60px;
  }

  .btn::before {
    right: 20px;
  }

  /* end accordion section  */
}

@media screen and (max-width: 926px) {
  .navbarcontainer {
    padding: 0;
    padding-top: 0px;
  }

  .customnavbar {
    background: transparent;
    top: 0;
    padding: 10px;
  }

  .brandtext {
    font-size: 20px;
  }

  .customnavbar.bgchange {
    background: white;
  }

  .navbartogellericon {
    width: 60px;
    height: 60px;
    background: var(--darkgreen);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 50%;
    cursor: pointer;
    display: flex;
  }

  .lines {
    width: 28px;
    height: 2px;
    background: #fff;
    margin: 3px 0px;

    transition: all 0.3s ease;
  }

  .navbartogellericon.show .lineone {
    transform: translateY(9px) rotate(45deg);
    transition: all 0.3s ease;
  }

  .navbartogellericon.show .linetwo {
    display: none;
    transition: all 0.3s ease;
  }

  .navbartogellericon.show .linethree {
    transform: translateY(1px) rotate(-45deg);
    transition: all 0.3s ease;
  }

  .icontext {
    color: white;
    font-size: 10px;
    margin-top: 5px;
  }

  .navbartogellericon.show .icontext {
    margin-top: 10px;
  }

  .menuitems {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0%;
    overflow: scroll;
    display: none;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 10;
  }

  .menuitems.show {
    display: block;

    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
  }

  .datetext p {
    font-size: 14px;
  }

  .nav-group {
    flex-direction: column;
    margin-top: 30px;
  }

  .navlinktext {
    color: var(--limegreen);
    text-align: center;
  }

  .nav-item {
    margin: 25px 0px;
  }

  .nav-link {
    font-size: 16px;
  }

  .brandbtn {
    width: 280px;
    height: 40px;
    /* border-radius: 50px; */
    display: block;
    font-size: 16px;
    /* background: var(--limegreen); */

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    position: relative;
  }

  .brandbtn::before {
    content: "";

    width: 15px;
    height: 15px;

    position: absolute;
    top: 40%;
    right: 20px;

    background: url(../icons/left.png) center / cover no-repeat;
  }

  .floatcontainer {
    bottom: -153px;

    grid-template-columns: 140px 1fr 200px;
  }

  .rightcontainer {
    padding: 5px;
  }

  .bannerphoto {
    bottom: -358px;
  }
}

@media screen and (max-width: 768px) {
  .customnavbar {
    background: transparent;
    top: 0;
  }

  .brandtext {
    font-size: 16px;
  }

  .customnavbar.bgchange {
    background: white;
  }

  .navbartogellericon {
    width: 60px;
    height: 60px;
    background: var(--darkgreen);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 50%;
    cursor: pointer;
  }

  .navlinktext {
    display: block;
  }

  .lines {
    width: 28px;
    height: 2px;
    background: #fff;
    margin: 3px 0px;

    transition: all 0.3s ease;
  }

  .datelinktext {
    font-size: 12px;
  }

  .floatbtncontainer {
    justify-content: end;
  }

  .navbartogellericon.show .lineone {
    transform: translateY(9px) rotate(45deg);
    transition: all 0.3s ease;
  }

  .navbartogellericon.show .linetwo {
    display: none;
    transition: all 0.3s ease;
  }

  .navbartogellericon.show .linethree {
    transform: translateY(1px) rotate(-45deg);
    transition: all 0.3s ease;
  }

  .icontext {
    color: white;
    margin-top: 5px;
  }

  .navbartogellericon.show .icontext {
    margin-top: 10px;
  }

  .menuitems {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0%;
    overflow: scroll;
    display: none;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 10;
  }

  .menuitems.show {
    display: block;

    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
  }

  .nav-group {
    flex-direction: column;
    margin-top: 30px;
  }

  .navlinktext {
    color: var(--limegreen);
    text-align: center;
  }

  .nav-item {
    margin: 10px 0px;
  }

  .nav-link {
    font-size: 24px;
  }

  .brandbtn {
    width: 280px;
    height: 40px;
    border-radius: 50px;
    display: block;
    font-size: 16px;
    background: var(--limegreen);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    position: relative;
  }

  .brandbtn::before {
    content: "";

    width: 15px;
    height: 15px;

    position: absolute;
    top: 40%;
    right: 20px;

    background: url(../icons/left.png) center / cover no-repeat;
  }

  .bannerbtn {
    width: 100%;
    max-width: 345px;
  }

  .bannerphotocontainer {
    width: 100%;
    margin-top: 150px;
  }

  .bannerphoto {
    bottom: -296px;
    left: 0;
  }

  .wrapper {
    flex-direction: column;
  }

  .myanmarcontainer {
    width: 95%;
  }

  .myanmarparagraph {
    line-height: 1.7;
    font-size: 14px;
  }

  .floatcontainer {
    display: flex;
    flex-direction: column;
    bottom: -290px;
    padding: 30px 0px;
  }

  .left-news {
    margin: 0 auto;
  }

  .leftcontainer {
    border: 0;
  }

  .rightcontainer {
    border-right: 0px;
    border-bottom: 1px dashed #bebebe;
    width: 90%;
  }

  .textcontainer {
    width: 100%;
  }

  .child {
    width: 100%;
  }

  .childtextcontainer {
    width: 100%;
    margin: 0 auto;
  }

  .datelink {
    display: flex;
    justify-content: space-between;
  }

  .dateandtext {
    flex-direction: column;
    align-items: start;
    margin: 15px 0px;
  }

  .link {
    margin-right: 20px;
    margin-top: 20px;
  }

  .floatlink {
    width: 40px;
    height: 40px;
  }

  .aboutus {
    min-height: 100vh;
  }

  .aboutusheader {
    margin-top: 300px;
  }

  .aboutmyanmarcontainer {
    /* min-height: 100vh; */
    padding: 40px 0px;
  }

  .aboutusbtn,
  .aboutmyanmarbtn,
  .accordionbtn {
    width: 100%;
    max-width: 345px;
    font-size: 16px;
  }

  /* accordion section  */

  .mainheader {
    margin-top: 80px;
    margin-bottom: 18px;
  }

  .subheader {
    margin-bottom: 30px;
  }

  .accordioncontainer {
    width: 100%;

    margin: 100px auto;
    margin-top: 0px;
  }

  .accordion {
    margin-bottom: 15px;
  }

  .accordion-header,
  .accordion-content {
    grid-template-columns: 60px 1fr;
  }

  .accordion-content.show {
    margin-top: 0px;
    transition: all 1s ease;
  }

  .headertext::before,
  .headertext.newicon::before {
    width: 30px;
    height: 30px;
    top: 15px;
    right: 0px;
  }

  .headertext {
    padding-left: 15px;
    padding-right: 50px;
  }

  .contenttext {
    padding-left: 15px;
    padding-right: 15px;
  }

  .iconbox,
  .contenticonbox {
    width: 60px;
  }

  .btncontainer,
  .btn {
    width: 95%;
    height: 60px;
  }

  .btn::before {
    right: 20px;
  }

  /* end accordion section  */

  footer {
    padding: 60px 0px;
  }

  .notice-blk {
    display: block;
  }

  .sec-notice .right-blk {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .advertisment {
    margin: 0 auto;
  }

  .sec-notice {
    padding-bottom: 138px;
    padding-top: 60px;
  }

  .page-name {
    font-size: 12px;
  }

  .news-mv .second-container .news-heading {
    font-size: 24px;
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 0;
    margin: 0;
  }

  .news-mv {
    padding-top: 0;
    /* padding-bottom: 160px; */
  }

  .news-mv .second-container .mean {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: "lato";
    color: #307c4f;
    margin-top: 12px;
  }

  .date-blk .date {
    font-size: 14px;
  }

  .date-blk .notice {
    width: 80px;
    height: 20px;
    font-size: 12px;
    padding: 4px 0;
  }

  .sec-notice .date-blk {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 17px;
    margin-top: 30px;
  }

  .sec-notice .notice-blk .txt {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 30px;
  }

  .pignation {
    padding-top: 33px;
    gap: 40px;
  }

  .tag .tag-blk .tag-name {
    font-size: 12px;
  }
  .sec-about {
    padding-top: 60px;
    padding-bottom: 145px;
  }
  .sec-about .container .about-txt {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 80px;
  }
  .sec-about .container .chatbubble {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .sec-about .container .description {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .sec-about .container .information {
    font-size: 20px;
    padding-top: 55px;
    padding-bottom: 10px;
  }
  .sec-about .container .information-jp {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .information-blk .name {
    max-width: 60px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 100px;
    text-align: center;
    padding-right: 100px;
    background-color: #03561e;
    font-size: 22px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
  }
  .information-blk .name {
    max-width: 60px;
    padding: 0 0 0 10px;
    background-color: #03561e;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .information-blk {
    grid-template-columns: 60px 1fr;
    margin-bottom: 7px;
  }
  .information-blk .name-description {
    padding: 35px 0 35px 20px;
    background-color: #f5f5f5;
    border-radius: 14px;
    font-size: 22px;
  }
}

@media screen and (max-width: 482px) {
  .mainheader {
    margin-top: 50px;
    margin-bottom: 18px;
    font-size: 18px !important;
  }

  .subheader {
    margin-bottom: 20px;
    font-size: 16px !important;
  }

  .accordion {
    margin-bottom: 10px;
  }

  .accordion-header,
  .accordion-content {
    grid-template-columns: 50px 1fr;
  }

  .accordion-content.show {
    margin-top: 5px;
    transition: all 1s ease;
  }

  .headertext::before,
  .headertext.newicon::before {
    width: 25px;
    height: 25px;
    top: 12px;
    right: -9px;
  }

  .headertext {
    padding-left: 10px;

    padding-right: 30px;
  }

  .contenttext {
    padding-left: 10px;
    padding-right: 10px;
  }

  .headertext {
    font-size: 10px !important;
  }

  .contenttext {
    font-size: 8px !important;
  }

  .iconbox,
  .contenticonbox {
    width: 50px;
  }

  .btncontainer,
  .btn {
    width: 95%;
    height: 60px;
  }

  .btn::before {
    right: 20px;
  }

  .bannerphotocontainer {
    margin-top: 10px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 30px 10px;
    padding-top: 0px;
  }

  .customnavbar {
    padding: 0;
  }

  .brandlink img {
    height: 40px;
  }

  .brandtext {
    font-size: 16px;
  }

  .brandbtn {
    width: 200px;
    height: 35px;
    border-radius: 25px;
    background: var(--limegreen);
  }

  .brandbtn::before {
    top: 30%;
  }

  .bannerphotocontainer {
    width: 100%;
    margin-top: -70px;
  }

  /* start aboutus  */
  .aboutusheader {
    font-size: 24px;
  }

  .aboutusengheader {
    font-size: 14px;
  }

  .aboutusparagraph {
    font-size: 14px;
  }

  .aboutustextcontainer {
    width: 95%;
  }

  .chatbubble {
    width: 95%;
    font-size: 16px;
  }

  .aboutusphotocontainer {
    width: 100%;
  }

  .aboutusbtn,
  .aboutmyanmarbtn,
  .accordionbtn {
    width: 100%;
    max-width: 345px;
    font-size: 16px;
  }

  /* end aboutus  */

  /* start accordion section  */
  .mainheader {
    margin-top: 30px;
    margin-bottom: 18px;
    font-size: 20px;
  }

  .subheader {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .accordion {
    margin-bottom: 10px;
  }

  .accordion-header,
  .accordion-content {
    grid-template-columns: 40px 1fr;
  }

  .accordion-content.show {
    margin-top: 5px;
    transition: all 1s ease;
  }

  .headertext::before,
  .headertext.newicon::before {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 0px;
  }

  .headertext {
    padding-left: 5px;
    padding-right: 30px;
    border-radius: 5px;
  }

  .contenttext {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 8px !important;
    border-radius: 5px;
  }

  .headertext {
    font-size: 8px !important;
  }

  .iconbox,
  .contenticonbox {
    width: 40px;

    font-size: 15px !important;
  }

  .btncontainer,
  .btn {
    width: 95%;
    height: 60px;
  }

  .btn::before {
    right: 20px;
  }

  /* end accordion section  */
}

@media screen and (max-width: 350px) {
  .brandtext {
    font-size: 13px;
  }
}
